The program consists of 4 functions for eachtask, a function for opening the dataset and a main function for running the tasks.
The libraries used are numpy and pandas
The python version is python 3.6

numpy==1.19.5
pandas==0.25.3

